
body{
    height: 100vh;
}
.bg{
    
    background-image: url(circle_pattern.jpg) ;
    background-repeat:repeat round;
    width:100%;
    height: auto;
    opacity: 1;
    color: white;
    
}
.form-container{
    margin:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    height: auto;
    
    -webkit-box-shadow: -1px -11px 34px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -11px 34px 10px rgba(0,0,0,0.75);
    box-shadow: -1px -11px 34px 10px rgba(0,0,0,0.75);
   
}



